@import './variables';

.single-card {
    color: $text-color;
    margin: 20px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    line-height: 30px;

    .poster {
        border-radius: 8px;
    }

    .language {
        img {
            height: 15px;
        }
    }
}