@import '../style/variables';

header {
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;

    .logo {
        display: flex;
        align-items: center;

        img {
            height: 50px;
         }
    }

   input, .search-btn {
        border: none;
        border-radius: 8px;
        padding: 7px 15px;
        margin-left: 8px;
        font-size: 15px;
    }
    
    input {
        width: 300px;
    }
    
    .search-btn {
        background-color: $primary-color;
        color: $text-color;
        cursor: pointer;
    }
}